
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, .navbar-brand {
    font-weight: bold;
}

#title{
    background-color: #ff4c68;
    text-align: left;
}

.big-heading{
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #fff;
}
.container-fluid{
    padding: 7% 15%;
}

/* Navbar */

.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

p {
    color: #8f8f8f;
}


/* Download Button */

.download-button {
    margin: 5% 3% 3% 0;
}

/* Title Image */

.title-image {
    width: 18rem;
    transform: rotate(25deg);
    position: absolute;
    top: 15rem;
    right: 25%;
}


/* Features Section */

#features {
    position: relative;
    background-color: #fff;
    z-index: 1;
}


.features-box {
    margin: 7% 0;
}

.icon {
    font-size: 3rem;
    color: #ef8172;
    margin: 3% 0;
}

.icon:hover{
    color: #ff4c68;
}

.feature-heading {
    font-size: 1.5rem;
    
    margin: 2% 0;
}

#features p {
    margin: 2% 0;
}


/* Testimonials Section */

#testimonials{
    background-color: #ef8172;
    color: #fff;
    padding: 7% 0;
}

.testimonial-text{
    font-size: 2.8rem;
    
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

.pricing-heading,.price {
    font-size: 2.8rem;
    
}

.pricing-column {
    padding: 3% 2%;
}

.price-title{
    font-size: 1.5rem;
    
}


/* CTA Section */

#cta{
    background-color: #ff4c68;
}

/* Footer section */

#footer li{
    padding: 0 1%;
}

#footer a{
    color: #1f1f1f;
}

#footer a:hover {
    opacity: 0.6;
}


@media (min-width: 1048px) and (max-width: 1260px) {
    .title-image{
        width: 16rem;
        transform: rotate(20deg)
    }
    #title h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 1028px) {
    .title-image{
        position: static;
    }
}

@media (max-width: 1028px) {

    .title-image{
        position: absolute;
        margin: 23px 0 0 0;
        top: 11rem;
    }

    .big-heading{
        font-size: 2.5rem;
    }

    .feature-heading{
        font-size: 1.3rem;
    }

    #features p {
        font-size: 0.9rem;
    }

    .testimonial-text .price{
        font-size: 2rem;
    }

    .pricing-heading{
        font-size: 2.4rem;
    }

}

@media (max-width: 990px) {

    .title-hero {
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

@media (max-width: 636px) {

    .navbar-brand, .testimonial-text, .cta-heading{
        font-size: 1.7rem;
    }

    .big-heading .pricing-heading{
        font-size: 2rem;
    }

    .title-image{
        width: 14rem;
    }

    .press-logo{
        width: 30%;
    }


}